.timezones {

  &__container {
    margin-top: 20px;
  }

  &__timezone {
    //width: 226px;
    margin-bottom: 20px;
  }

  &-navbar {
      &__element {
        margin-top: 10px;
        margin-bottom: 5px;
      }
  }

}