<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">


<div class="container" ng-show="!home.authenticated">

    <div class="row">
        <h1>Welcome to Expenses Tracker App!</h1>
        <p>You can sign in using any of the options below.</p>
    </div>
    <div class="row" style="padding: 10px 0">
        <div class="col-sm-12 col-md-6">
            <div class="alert alert-danger" ng-show="error">
                There was a problem logging in. Please try again.
            </div>
            <form role="form" action="login" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           name="username"
                           ng-model="credentials.username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           ng-model="credentials.password"/>
                </div>
                <button type="submit" type="submit" class="btn btn-primary">Sign in with local account</button>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-6" style="padding: 10px 0">
        <span>Or via </span>
        <a class="btn btn-default" href="/login/facebook" role="button">Facebook</a>
        <a class="btn btn-default" href="/login/google" role="button">Google</a>
        <a class="btn btn-default" href="/login/github" role="button">GitHub</a>
    </div>
</div>
<div class="container" ng-show="home.authenticated">
    <div class="row">
        <div class="col-md-12">
            Logged in as: <span ng-bind="home.user"></span>
            <div>
                <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    angular
        .module("app", [])
        .config(
            function ($httpProvider) {
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            }).controller("home", function ($http, $location, $scope) {

        $scope.credentials = {};

        function authenticate(credentials, callback) {
            var headers = credentials ? {
                authorization: "Basic "
                + btoa(credentials.username + ":" + credentials.password)
            } : {};

            $http.get('/user', {headers: headers}).success(function (data) {
                self.authenticated = !!data.name;
                callback && callback();
            }).error(function () {
                self.authenticated = false;
                callback && callback();
            });

        }

        $scope.login = function () {
            authenticate($scope.credentials, function () {
                if (self.authenticated) {
                    self.user = data.name;
                    $scope.error = false;
                } else {
                    $location.path("/login");
                    $scope.error = true;
                }
            });
        };

        var self = this;
        $http.get("/user").success(function (data) {
            if (data.name) {
                self.user = data.name;
                self.authenticated = true;
            } else {
                self.user = "N/A";
                self.authenticated = false;
            }
        }).error(function () {
            self.user = "N/A";
            self.authenticated = false;
        });
        self.logout = function () {
            $http.post('logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function (data) {
                console.log("Logout failed")
                self.authenticated = false;
            });
        };
    });
</script>
</body>
</html>